body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}
.div-class{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background: white;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}

.menu a{
    color:goldenrod;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.menu a:hover{
    background: wheat;
    color:black;
    padding-left: 1.5cm;
}

@media (min-width: 800px){
    .nav-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu{
        height: auto;
        display: flex;
    }
}