body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.div-class{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.button{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 50px;
    border-radius: 40px;
    width: 80px;
    height: 30px;
    background: rgb(211, 247, 247);
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    border-color: rgb(211, 247, 247);
}

.campo{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow:  0 5px 10px rgb(0,0,0,0.1);
}

.label{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow:  0 5px 10px rgb(0,0,0,0.1);
}

nav {
    background: white;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}

.menu a{
    color:goldenrod;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.menu a:hover{
    background: wheat;
    color:black;
    padding-left: 1.5cm;
}

@media (min-width: 800px){
    .nav-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu{
        height: auto;
        display: flex;
    }
}