body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.div-class{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.div-section{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border: 3px solid rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}

nav {
    background: white;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}

.menu a{
    color:goldenrod;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
}

.menu a:hover{
    background: wheat;
    color:black;
    padding-left: 1.5cm;
}

@media (min-width: 800px){
    .nav-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu{
        height: auto;
        display: flex;
    }
}